<div id="<%= dom_id material %>">
  <p>
    <strong>Name:</strong>
    <%= material.name %>
  </p>

  <p>
    <strong>Explanation:</strong>
    <%= material.explanation %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= material.quantity %>
  </p>

</div>
