<div class="card">
  <div class="card-header">
    <h1>Editing material</h1>

  </div>
  <div class="card-body">
    <%= render "form", material: @material %>

    <br>
    <%= button_to "Delete", @material, method: :delete, class:"btn btn-danger" %>
  </div>
</div>




<!--
<div>
  <%#= link_to "Show this material", @material %> |
  <%#= link_to "Back to materials", materials_path %>
</div>
-->
